body {
    background-color: #f6f6f6;
    font-family: 'Montserrat', sans-serif;
}

header {
    text-align: center;
}

.header-link {
    color: #333;
}

.header-link:hover {
    color: #000;
}

a:hover {
    text-decoration: none;
}

nav {
    background-color: black;
    margin-bottom: 10px;
    text-align: center;
}

    nav a {
        display: block;
        padding: 10px 10px;
    }

.social-media {
    text-align: right;
}

    .social-media a {
        display: inline-block;
    }

.main.container {
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
    background: white;
}

.link-about-me {
    text-align: center;
    color: #333;
    padding-bottom: 20px;
    display: block;
}

.img-about-me {
    border-radius: 100%;
    margin-bottom: 15px;
}

.instagram-feed {
    display: block;
    padding: 20px 20px 20px 0;
}

nav .col {
    color: white;
    text-align: center;
}


.main-article {
    display: block;
    padding: 20px 0;
    position: relative;
}

    .main-article .article-info {
        text-align: center;
        color: white;
        position: absolute;
        bottom: 40px;
        margin: auto;
        right: 0;
        left: 0;
    }

.sub-article {
    display: block;
    border-bottom: 2px solid #333;
    margin-bottom: 10px;
    color: #333;
}

    .sub-article span {
        color: #c6c6c6;
        font-size: 12px;
    }

    .sub-article .article-presentation {
        text-align: center;
        background-color: white;
        position: relative;
        margin: auto;
        width: 75%;
        margin-top: -20px;
        color: #333;
    }

footer {
    margin: 0 -15px;
    padding: 10px 0;
    text-align: center;
    background-color: black;
    color: white;
}
