@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Frontpage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Root.cshtml";
}
@section header
{
    <title>@Model.Content.Header</title>
}

    <div class="row">
        <div class="col">
            <img class="img-fluid" src="images/dsc_2542.jpg">
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 col-12">
            <div class="row">
                <div class="col">
                    <a href="#" class="main-article">
                        <img class="img-fluid" src="images/dsc_2542.jpg">
                        <div class="article-info">
                            <h2>Article name</h2>
                            <button class="btn btn-outline-light">Læs mere</button>
                        </div>
                    </a>
                </div>
                <div class="w-100"></div>
                <div class="col-md-4 col-6">
                    <a href="#" class="sub-article">
                        <img class="img-fluid" src="images/dsc_2542.jpg">
                        <div class="article-presentation">
                            <h3>Overskrift</h3>
                            <span>September 21, 2018</span>
                            <p>
                                En kort beskrtivelse omrking vores rejser rundet i Dubai og område omkring lidt
                                længere teskt
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-6">
                    <a href="#" class="sub-article">
                        <img class="img-fluid" src="images/dsc_2542.jpg">
                        <div class="article-presentation">
                            <h3>Overskrift</h3>
                            <span>September 21, 2018</span>
                            <p>
                                En kort beskrtivelse omrking vores rejser rundet i Dubai og område omkring lidt
                                længere teskt
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-6">
                    <a href="#" class="sub-article">
                        <img class="img-fluid" src="images/dsc_2542.jpg">
                        <div class="article-presentation">
                            <h3>Overskrift</h3>
                            <span>September 21, 2018</span>
                            <p>
                                En kort beskrtivelse omrking vores rejser rundet i Dubai og område omkring lidt
                                længere teskt
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-6">
                    <a href="#" class="sub-article">
                        <img class="img-fluid" src="images/dsc_2542.jpg">
                        <div class="article-presentation">
                            <h3>Overskrift</h3>
                            <span>September 21, 2018</span>
                            <p>
                                En kort beskrtivelse omrking vores rejser rundet i Dubai og område omkring lidt
                                længere teskt
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-6">
                    <a href="#" class="sub-article">
                        <img class="img-fluid" src="images/dsc_2542.jpg">
                        <div class="article-presentation">
                            <h3>Overskrift</h3>
                            <span>September 21, 2018</span>
                            <p>
                                En kort beskrtivelse omrking vores rejser rundet i Dubai og område omkring lidt
                                længere teskt
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-6">
                    <a href="#" class="sub-article">
                        <img class="img-fluid" src="images/dsc_2542.jpg">
                        <div class="article-presentation">
                            <h3>Overskrift</h3>
                            <span>September 21, 2018</span>
                            <p>
                                En kort beskrtivelse omrking vores rejser rundet i Dubai og område omkring lidt
                                længere teskt
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-6">
                    <a href="#" class="sub-article">
                        <img class="img-fluid" src="images/dsc_2542.jpg">
                        <div class="article-presentation">
                            <h3>Overskrift</h3>
                            <span>September 21, 2018</span>
                            <p>
                                En kort beskrtivelse omrking vores rejser rundet i Dubai og område omkring lidt
                                længere teskt
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-6">
                    <a href="#" class="sub-article">
                        <img class="img-fluid" src="images/dsc_2542.jpg">
                        <div class="article-presentation">
                            <h3>Overskrift</h3>
                            <span>September 21, 2018</span>
                            <p>
                                En kort beskrtivelse omrking vores rejser rundet i Dubai og område omkring lidt
                                længere teskt
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3 instagram-feed d-none d-sm-block">
            <!-- LightWidget WIDGET -->
            <script src="http://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="http://lightwidget.com/widgets/f995c55894f250dbad238d914e3bf087.html"
                                                                                             scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
        </div>
    </div>
